<div id="plus-minus-input">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="input-group-text" (click)="increase()">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <input [(ngModel)]="counter" type="text" class="form-control"
        #quantity="ngModel" type="number" [min]='0' >
        <div class="input-group-append" (click)="decrease()">
          <button class="input-group-text">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </div>
</div>
